@font-face {
  font-family: 'Balonku';
  src: url('./fonts/BalonkuRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.page {
  background-image: url('./img/bg-home.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fefff0;
  border-radius: 20px;
  border: 2px dashed red;
  max-width: 550px;
}

.progressBar {
  max-width: 500px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  margin: 40px auto 0 auto;
  /* เพิ่มความมนที่ขอบของ progress bar */
}

.progressBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 2px solid #ffcece;
  border-radius: 20px;
  overflow: hidden;
}

.progressStep {
  width: 10%;
  height: 15px;
  /* ความสูงของแต่ละขั้นตอน */
  background-color: white;
  /* พื้นหลังเริ่มต้น */
  transition: background-color 0.3s ease;
}

.progressStep.completed {
  background-color: #ffbde6;
  /* เปลี่ยนเป็นสีเขียวเมื่อเสร็จ */
}

/* ตำแหน่งของ marker */
.marker {
  position: absolute;
  top: -40px;
  /* ปรับให้รูปอยู่ในตำแหน่งที่ต้องการ */
  transform: translateX(-50%);
  /* ให้รูปอยู่ตรงกลาง */
}

.marker img {
  width: 80px;
  /* ขนาดของรูป */
  height: 80px;
}